.header{
   display: flex;
   box-sizing: border-box;
   justify-content: space-between;
   background-color: #F3C1F8;
   width: 100%;
   padding: 0 14px;
   
}

.header_movies {
   background-color: white;
}

.logo {
   width: 32px;
   height: 32px;
   padding: 18px 0;
}

.heder__links{
   display: flex;
   align-items: center;
}

.header__link{
   padding-right: 14px;
   font-weight: 500;
   font-size: 10px;
   line-height: 16px;
}

.header__link_button{
   padding: 5px 12px;
   background-color: black;
   color:white;
   border: 1px solid #000000;
   border-radius: 3px;
}

.heder__nav-logo{
   width: 40px;
   height: 43px;
   margin: auto 0;
}