.about-project {
   padding: 70px 18px;
   box-sizing: border-box;
}

.title {
   margin: 0;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   letter-spacing: -0.04em;
   padding-bottom: 28px;
   border-bottom: 1px solid black;
}

.about-project__subtitle {
   margin: 0;
   padding-top: 60px;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   letter-spacing: -0.04em;
}

.about-project__text {
   margin: 0;
   padding-top: 16px;
   font-style: normal;
   font-weight: 400;
   font-size: 11px;
   line-height: 16px;
}

.about-project__weeks {
   display: flex;
   margin-top: 60px;
}

.about-project__weeks_black {
   width: 35.21%;
}

.about-project__weeks_gray {
   width: 64.788%;
}

.about-project__week {
   box-sizing: border-box;
   background-color: black;
   color: white;
   padding: 11px 0;
   font-style: normal;
   font-weight: 400;
   font-size: 11px;
   line-height: 13px;
   text-align: center;
   margin: 0;
}

.about-project__week_gray {
   background-color: #f2f2f2;
   color: black;
}

.about-project__weeks-text {
   margin-top: 10px;
   font-weight: 400;
   font-size: 11px;
   line-height: 13px;
   text-align: center;
   color: #a0a0a0;
}

@media screen and (min-width: 768px) {
   .about-project {
      padding: 90px 50px;
   }

   .title {
      font-size: 22px;
      line-height: 27px;
      padding-bottom: 23px;
   }

   .about-project__container {
      display: flex;
      flex-direction: row;
   }

   .about-project__container_text {
      margin-right: 30px;
   }

   .about-project__container_text:last-child {
      margin-right: 0;
   }

   .about-project__subtitle {
      padding-top: 70px;
      font-size: 20px;
      line-height: 24px;
   }

   .about-project__text {
      font-size: 12px;
      line-height: 18px;
      padding-top: 22px;
   }

   .about-project__weeks {
      margin-top: 93px;
   }

   .about-project__weeks_black {
      width: 20.958%;
   }

   .about-project__weeks_gray {
      width: 79.041%;
   }

   .about-project__week {
      font-size: 14px;
      line-height: 17px;
      padding: 9px 0;
   }

   .about-project__weeks-text {
      font-size: 14px;
      line-height: 17px;
      margin: 14px 0 0;
   }
}

@media screen and (min-width: 1280px) {
   .about-project {
      padding: 110px 70px 110px;
   }

   .about-project__container {
      display: flex;
      flex-direction: row;
   }

   .about-project__container_text {
      margin-right: 40px;
   }

   .about-project__container_text:last-child {
      margin-right: 0;
   }

   .about-project__subtitle {
      padding-top: 70px;
      font-size: 20px;
      line-height: 24px;
   }

   .about-project__text {
      font-size: 14px;
      line-height: 20px;
      padding-top: 26px;
   }

   .about-project__weeks {
      margin-top: 110px;
   }

   .about-project__weeks_black {
      width: 20%;
   }

   .about-project__weeks_gray {
      width: 80%;
   }

   .about-project__week {
      font-size: 14px;
      line-height: 17px;
      padding: 9px 0;
   }

   .about-project__weeks-text {
      font-size: 14px;
      line-height: 17px;
      margin: 14px 0 0;
   }
}
